@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@300;400;500&display=swap');

:root {
	--color-banner: #212f3d;
	--letras-banner: #d0d3d4;

	--font-nps: 'Lato';
	--font-texto: 'Montserrat';
}

* { /* CONFIGURACION GRAL */
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body { /* CONFIGURACION BODY */
	width: 100%;
	height: 100vh;
	justify-content: center;
	align-content: center;
	background-color: #626567;
}

.contenedor {
	height: 100%;
}

/* CONFIURACION GENERAL DE LA TARJETA */
.contenedor-tarjeta {
	display: flex;
	height: 90%;
	justify-content: center;
	align-items: center;
	
}

.tarjeta {
	display: flex;
	width: 340px;
	height: 500px;
	perspective: 2000px;	
}

.contenido-tarjeta {
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	justify-content: center;
	transition: all 1.2s cubic-bezier(.52,-0.58,.37,1.64);
	transform-style: preserve-3d;
	
}

.cara-frontal, .cara-trasera {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	backface-visibility: hidden;
	overflow: hidden;
}

.cara-frontal {
	justify-content: center;
	color:white;
	background: rgb(40,39,70);
	background: linear-gradient(220deg, rgba(40,39,70,1) 0%, rgba(98,118,247,1) 100%);
	
}

/* CONFIGURACION DE LOS BANNERS DE LAS TARJETAS */
.banner {
	display: flex;
	height: 60px;
	justify-content: center;
	align-items: center;
	background-color: var(--color-banner);
}

.contenedor-banner {
	display: flex;
	margin: auto;
}

.texto-banner {
	color: var(--letras-banner); 
	margin: auto 10px;
	font-family: var(--font-texto);
	font-weight: 400;
	font-size: 20px;
} 

.icono-banner {
	color: var(--letras-banner);
	margin: auto; 
	font-size: 25px;
}

/* CONFIGURACION PARTICULAR DEL ICONO */
.icono-alterno {
	font-size: 40px;
}

/* CONFIGURACION FORMULARIO FRONTAL */
.centro-tarjeta {
	height: 380px;
	width: 90%;
	margin: auto;
	padding: 40px 10px 3px;
	font-family: var(--font-texto);
	font-size: 18px;
	font-weight: 300;
}

.presentacion {
	margin-top: 75px;
}

.mi-nombre {
	font-size: 11px;
}

.boton-frontal {
	display: flex;
	height: 50px;
	width: 300px;
	background-color: var(--color-banner);
	color: var(--letras-banner);
	border: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] { 
	-moz-appearance:textfield; 
}

/* CONFIGURACION GENERAL DE LA CARA TRASERA */
.cara-trasera {
	transform: rotateY(180deg);
	justify-content: center;
	backface-visibility: hidden;
}

.valor-nps {
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	box-shadow: 2px 2px 4px rgba(0,0,0,.4);
	height: 180px;
	width: 220px;
	justify-content: center;
	align-content: center;
	color: var(--letras-banner);
}

.nps-porcentaje {
	margin: 5px auto;
	font-size: 80px;
	font-family: var(--font-nps);
}

.nps-cumplimiento {
	font-size: 24px;
	margin: 3px auto;
	font-family: var(--font-texto);
	font-weight: 500;
}

.avaricia {
	position: absolute;
	margin: auto;
	bottom: 120px;
	left: 150px;
	transition: all 0.5s ease-in-out;
	color: white;
	font-family: var(--font-texto);
}

.texto-avaro {
	font-size: 15px;
}

.texto-avaro span {
	font-size: 18px;
	text-shadow: 2px 2px 4px rgba(0,0,0,.4);
}

.margenes {
	width: 260px;
	margin-top: 15px;
	margin-bottom: 15px;
	align-content: center;
	text-align: center;
	color: white;
}

.margen{
	margin: 0px auto;
	padding: 0px;
}

span {
	font-size: 25px;
	text-shadow: 2px 2px 4px rgba(0,0,0,.4);
	font-family: var(--font-texto);
}

/* CONFIGURACION DEL GIRO DE LA TARJETA */
.giro {
	transition: all 1.2s cubic-bezier(.52,-0.58,.37,1.64);
	transform-style: preserve-3d;
	transform: rotateY(180deg);
}

.sombra {
	box-shadow: 7px 7px 10px rgba(0,0,0,.5);
}

.en-objetivo {
	background: rgb(40, 70, 39);
	background: linear-gradient(220deg, rgb(40, 70, 39, 1) 0%, rgb(115, 247, 98, 1) 100%);
}

.fuera-de-objetivo {
	background: rgb(70, 39, 39);
	background: linear-gradient(220deg, rgb(70, 39, 39, 1) 0%, rgb(247, 98, 98, 1) 100%);
}

/* CONFIGURACION MUSTREO DE FALTANTE */
.no-mostrar {
	opacity: 0;
}

.aparecer {
	bottom: 165px;
	opacity: 1;
	transition: all 600ms cubic-bezier(.08,.79,.58,1.44);
}